.starter{
  color: darkgray;
  background-color: darkslategrey;
  text-align: center;
}

h2.intro{
  font-weight: bold;
}

p.intro{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img.intro{
  border-style: double;
  border-width: 10px;
  border-color: white;
  border-radius: 20px;
}

.highlight{
  background-color: aqua;
}

.lowlight{
  font-weight: bold;
}

body{
  background-color: beige;
}

h2{
  text-align: center;
}

p{
  font-style: italic;
}