.starter{
  color: darkgray;
  background-color: darkslategrey;
  text-align: center;
}

h2.intro{
  font-weight: bold;
}

p.intro{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img.intro{
  border-style: double;
  border-width: 10px;
  border-color: white;
  border-radius: 20px;
}

.highlight{
  background-color: aqua;
}

.lowlight{
  font-weight: bold;
}

.greenTheme{
  background-color: rgb(49, 141, 84);
}

.purpleTheme{
  background-color: blueviolet;
}

h2{
  text-align: center;
}

p{
  font-style: italic;
}

@media screen and (max-width: 480px){
  img{
    width: 250px;
  }

  p{
    font-size: 10px;
  }
}

@media screen and (max-width: 600px) and (min-width: 480px) {
  img{
    width: 300px;
  }
}

@media screen and (max-width: 1000px) and (min-width: 600px) {
  .starter{
    background-color: darkcyan;
    color: whitesmoke;
  }

  body{
    background-color: darkslategray;
    color: linen;
  }

  p{
    font-size: 18px;
  }

  .highlight{
    background-color: cadetblue;
  }
}

@media screen and (min-width: 1000px) {
  .column {
    column-count: 3;
    column-fill: auto;
    float: left;
    padding: 20px;
  }

  img{
    width: 800px;
  }

  p{
    font-size: 25px;
  }
}